@import '../../utils/colors.scss';
@import '../../utils/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import '../../utils/reset.scss';


* {
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 17.07px;
    font-style: normal;
    user-select: none;
}

form {
    @include row;

    .search {
        width: 58px;
    }
}

input {
    color: white;
    padding: 10px;
    background-color: $button_unactive;
    border: 1px solid rgba(228, 227, 227, 0.2);

    &::placeholder {
        color: $text;
    }
}

select {
    appearance: auto;
    color: $text;
    padding: 0 14px;
    box-sizing: border-box;
}

.header {
    @include row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
    color: $text;

    .button {
        @include center;
        cursor: pointer;
        height: 44px;
        min-width: 44px;
        background-color: $button_active;
        border-radius: 5px;
    }

    .controllers {
        display: flex;
        flex-direction: row;

        .bg-refresh {
            background-image: url('../../assets/img/refresh.png');
            background-repeat: no-repeat;

            span {
                content: url('../../assets/img/vector.svg');
            }
        }

        .language {
            margin: 0 10px;
            width: 71px;
        }

        .temperature {
            background: $button_unactive;
        }

        .fah {
            border-radius: 5px 0 0 5px;
        }

        .cel {
            border-radius: 0 5px 5px 0;
        }

        .active {
            background: $button_active;
        }
    }
}