@import '../../utils/reset.scss';
@import '../../utils/colors.scss';
@import '../../utils/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 17.07px;
    font-style: normal;
    user-select: none;
}

.header {
    @include row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
    color: $text;

    .button {
        @include center;
        cursor: pointer;
        height: 44px;
        min-width: 44px;
        background-color: $button_active;
        border-radius: 5px;
    }

    .controllers {
        @include row;

        .bg-refresh {
            background-image: url('../../assets/img/refresh.png');
            background-repeat: no-repeat;

            span {
                content: url('../../assets/img/vector.svg');
            }
        }

        .language {
            color: $text;
            padding: 0 14px;
            box-sizing: border-box;
            margin: 0 10px;
            width: 71px;
        }

        .temperature {
            background: $button_unactive;
        }

        .fah {
            border-radius: 5px 0 0 5px;
        }

        .cel {
            border-radius: 0 5px 5px 0;
        }

        .active {
            background: $button_active;
        }
    }

    form {
        @include row;
        position: relative;

        input {
            color: $text;
            padding: 10px;
            background-color: $button_unactive;
            border: 1px solid rgba(228, 227, 227, 0.2);
            border-radius: 5px 0 0 5px;

            &::placeholder {
                color: $text;
                font-weight: 300;
            }
        }

        span {
            content: url('../../assets/img/voice.svg');
            position: absolute;
            right: 38%;
            top: 30%;
        }

        .search {
            width: 101px;
            border-radius: 0 5px 5px 0;
        }
    }
}